// Typography
$fontText: Georgia, "Times New Roman", serif;
$fontSpecial: "Arial Thin", Arial, Helvetica, sans-serif;
$strongFontWeight: 600;
$headerFontWeight: 900;

// Colours
$glossarybg: hsl(61, 69%, 75%);
$text: hsl(0, 0%, 15%);
$link: hsl(237, 33%, 49%);
$linkHover: hsl(0, 63%, 32%);
$focusHighlight: hsl(0, 0%, 65%);

$bodybg: hsl(210, 75%, 98%);
$scrollbar-track: hsl(213, 25%, 80%);
$scrollbar-thumb: hsl(213, 65%, 50%);
$scrollbar-thumb-hover: hsl(213, 33%, 60%);
