@use "../abstracts" as ab;

.counter-list {
    padding-left: 0;
    margin-bottom: 0;
    overflow: hidden;

    li {
        counter-increment: list-number;
        position: relative;
        padding-left: 3rem;
        p {
            margin-bottom: 0;
        }
        &::before {
            content: counter(list-number);
            margin: 0 0 0 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 2rem;
            height: 2rem;
            text-align: center;
            font-size: 1rem;
            font-family: ab.$fontSpecial;
            font-weight: ab.$strongFontWeight;
            background-color: white;
            border: 3px solid ab.$text;
            border-radius: 50%;
            color: ab.$text;
            line-height: 1.7;
        }
    }
}
